<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions requises -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Features -->
    <uses-feature android:name="android.software.device_admin" android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wasted"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Device Admin Receiver -->
        <receiver
            android:name=".admin.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Service en avant-plan -->
        <service
            android:name=".trigger.shared.ForegroundService"
            android:directBootAware="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServiceType">
        </service>

        <!-- Receiver pour les triggers -->
        <receiver
            android:name=".TriggerReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="me.lucky.wasted.action.TRIGGER" />
            </intent-filter>
        </receiver>

        <!-- Receiver pour le redémarrage après boot -->
        <receiver
            android:name=".trigger.shared.RestartReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Notification Listener Service -->
        <service
            android:name=".trigger.notification.NotificationListenerService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Job Service -->
        <service
            android:name=".trigger.lock.LockJobService"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <!-- USB Receiver -->
        <receiver
            android:name=".trigger.usb.UsbReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </receiver>

        <!-- Activité pour les triggers -->
        <activity
            android:name=".trigger.application.ApplicationActivity"
            android:taskAffinity=".trigger.application"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:enabled="true"
            android:exported="true">
        </activity>

    </application>
</manifest>
